
@{
    ViewData["Title"] = "Success";
}

<div class="jumbotron">
    <h1 class="display-4">Success!</h1>
    <p class="lead">Your order has been placed successfully!</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Product")" role="button">Continue Browsing Products...</a>
</div>

